/* CSS Document */

body{
  width: 100%;
  font-family:  arial, helvitica, serif, verdana;
  background-color: #fff;
  color: #000;
}

#contentcenter {
  margin-top: 20px; 
}

#printout{
  width: 800px;	
}


#header{
  margin-left: 0;
  border: 0 solid yellow;
  text-align: left;
  height: 85px;
}

.clear {
  float : none;
  clear : both;
  height : 1px;
}


.signature {
	border: 1px solid black;
 }
 
 .note {
	font-size: 12px; 
	background-color: #fff; 
	text-align: left; 
	padding: 2px 0 3px 5px;
 }
 

button {
	margin: 0;
	padding: 1px 5px 1px 5px;
	background-color: #aaa;
	border: 1px solid #777;
	color: #fff;
	text-decoration: none;
}
button:hover{	
	background-color: #ddd;
}

.clearsign{
	font-size: 9pt;
	display: inline-block;
	color: #fff;
}

table.report {
  font-size : 10pt;
  color: #000;
  border: 0px solid #000; 	 	
}

#item_list { font-size: 10pt; list-style: none; text-align: left; margin-top: 1px; font-weight: normal; }